*{
  box-sizing: border-box;
}

.contenedor{
  width: 90%;
  background: yellow;
  margin: auto;
}

.contenido{
  width: 50%;
  padding: 10%;
  border: solid;
  border-width: 10px;
  border-color: black;
  background: orange;
}
